:root{
    --szin-bg: #250902;
    --szin-betu: beige;
    --szin-aktiv: #640D14;
    --szin-gomb: #AD2831;
}
* {
    box-sizing: border-box;
}
body {
    background-color: white;
}
main {
    max-width: 220px;
    text-align: center;
    margin: 20vh auto;
    display: grid;
    gap: 25px;
    background-color: var(--szin-bg);
    box-shadow: 0px 0px 5px grey;
    padding: 15px;
    border-radius: 10px;
}
header{
    color: var(--szin-betu);
}
article {
    display: grid;
    grid-template-areas:
        "kij kij"
        "szam muv";
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}
.kijelzo {
    display: block;
    grid-area: kij;
    border: 1px solid gray;
    border-radius: 8px;
    height: 35px;
    text-align: left;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    overflow: auto;
    white-space: normal;
    resize: vertical;
    background-color: #02010A;
    color: var(--szin-betu);
}
.szamok {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.szamok button {
    flex: 0 1 30%;
}

.szam:hover{
    background-color: var(--szin-aktiv);
}
.muvjelek {
    grid-area: muv;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.muvjelek button {
    width: 30px;
    background-color: var(--szin-gomb);
    color: var(--szin-betu);
}

#egyenlo {
    background-color: var(--szin-aktiv);
}

button{
    border-radius: 9999px;
    box-shadow: 0 0 10px grey;
    border: none;
    width: 30px;
    height: 30px;
}

footer {
    font-size: xx-small;
    color: grey;
}
